@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #252525;
  color: white;
  display: flex;
  justify-content: center;
}

input,
textarea {
  width: 350px;
  margin: 5px;
}

.container {
  width: 80vh;
}

.taskList {
  scrollbar-color: #2c3a4e #1e2735;
  scrollbar-width: thin;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form button {
  margin: 5px;
  width: 200px;
  height: 40px;
}

.media{
  width: 10px;
  height: 10px;
  background-color: red;
}

.content{
  height: 88%;
}
